
version: "3.9"

services:
  adminer:
    image: adminer:latest
    restart: always
    ports:
      - "9090:8080"   # host:container

  postgres:
    image: postgres:15
    restart: always
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: postgrespassword

  graphql-engine:
    image: hasura/graphql-engine:v2.46.0
    restart: always
    ports:
      - "5050:8080"   # Hasura owns 8080
    environment:
      HASURA_GRAPHQL_METADATA_DATABASE_URL: postgres://postgres:postgrespassword@postgres:5432/postgres
      PG_DATABASE_URL: postgres://postgres:postgrespassword@postgres:5432/postgres
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true"
      HASURA_GRAPHQL_DEV_MODE: "true"
      HASURA_GRAPHQL_ENABLED_LOG_TYPES: startup,http-log,webhook-log,websocket-log,query-log
      HASURA_GRAPHQL_METADATA_DEFAULTS: >
        {"backend_configs":{"dataconnector":{
          "athena":{"uri":"http://data-connector-agent:8081/api/v1/athena"},
          "mariadb":{"uri":"http://data-connector-agent:8081/api/v1/mariadb"},
          "mysql8":{"uri":"http://data-connector-agent:8081/api/v1/mysql"},
          "oracle":{"uri":"http://data-connector-agent:8081/api/v1/oracle"},
          "snowflake":{"uri":"http://data-connector-agent:8081/api/v1/snowflake"}
        }}}
    depends_on:
      postgres:
        condition: service_started
      data-connector-agent:
        condition: service_healthy


  data-connector-agent:
    image: hasura/graphql-data-connector:v2.46.0
    restart: always
    environment:
      QUARKUS_LOG_LEVEL: ERROR
      QUARKUS_OPENTELEMETRY_ENABLED: "false"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/api/v1/athena/health"]
      interval: 5s
      timeout: 10s
      retries: 5
      start_period: 5s

volumes:
  db_data:

